.nav-ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
    margin: 0 auto;
}

h1 {
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: gray;
}

.header {
    margin: 2rem ;
    font-size: 1.15rem;
}

.title {
    margin: 0;
    text-align: center;
}

.cart-icon{
    margin-top: -0.3rem;
}

.options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* ----------- iPhone 4 and 4S ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .header {
        margin: .25rem auto;
        font-size: 1.15rem;
    }

    .nav-ul {
        display: flex;
        align-items: center;
    }

    .options {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .nav-item {
        margin: 0 .2rem;
    }
  }