.about-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.about-content {
    width: 75%;
    margin: 0 auto;
    font-size: 1.15rem;
}

h1 {
    margin-bottom: 4rem;
}